<nav class="navbar navbar-expand-lg navbar-light">
  <!-- TODO: Look into this for the navbar https://codeforgeek.com/how-to-detect-device-type-in-nodejs/ -->

  <% switch (page_name) { case 'believe' : %>
  <h2><a class="navbar-brand" href="javascript:;">what i believe</a></h2>
  <% break; case 'education' : %>
  <h2><a class="navbar-brand" href="javascript:;">education</a></h2>
  <% break; case 'experience' : %>
  <h2>e<a class="navbar-brand" href="javascript:;">xperience</a></h2>
  <% break; case 'getInTouch' : %>
  <h2><a class="navbar-brand" href="javascript:;">get in touch</a></h2>
  <% break; case 'getToKnow' : %>
  <h2><a class="navbar-brand" href="javascript:;">get to know me</a></h2>
  <% break; case 'resume' : %>
  <h2><a class="navbar-brand" href="javascript:;">resume</a></h2>
  <% break; case 'skills' : %>
  <h2><a class="navbar-brand" href="javascript:;">skills</a></h2>
  <% break; } %>

  <!-- TODO: This is where I need to see if I can set a minimum width and then make it hamburger -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mainNav"
    aria-controls="mainNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a
          class="nav-link <%= page_name == 'index' ? 'active' : '' %>"
          href="../"
        >
          <h4>home</h4>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= page_name == 'getToKnow' ? 'active' : '' %>"
          href="./getToKnow"
        >
          <h4>get to know me</h4>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= page_name == 'believe' ? 'active' : '' %>"
          href="javascript:;"
        >
          <h4>what i believe</h4>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          id=" resumeDropdown"
          class="dropdown-toggle nav-link <%= page_name == 'resume' ? 'active' : '' %>"
          href="javascript:;"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="h4">resume</span>
        </a>
        <div
          class="dropdown-menu defaultColor"
          aria-labelledby="resumeDropdown"
        >
          <a
            class="dropdown-item defaultColor nav-link <%= page_name == 'education' ? 'active' : 'inactive' %>"
            href="./education"
          >
            <h5>education</h5>
          </a>
          <a
            class="dropdown-item defaultColor nav-link <%= page_name == 'skills' ? 'active' : 'inactive' %>"
            href="./skills"
          >
            <h5>skills</h5>
          </a>
          <a
            class="dropdown-item defaultColor nav-link <%= page_name == 'experience' ? 'active' : 'inactive' %>"
            href="./experience"
          >
            <h5>experience</h5>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link <%= page_name == 'photography' ? 'active' : '' %>"
          href="javascript:;"
        >
          <h4>photography</h4>
        </a>
      </li>
    </ul>
  </div>
</nav>
